{% extends "base_auth.html" %}
{% load static %}

{% block content %}

<div class="container"> <!-- Start container here -->
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-5">
                
                <div class="card-body">
                    <div class="card-title py-3">
                        <h1>Register</h1>
                    </div>
                    <form action="{% url 'register' %}" method="POST">

                        {% csrf_token %}

                        {% include 'partials/_messages.html' %}

                        <div class="form-group">
                            <label for="usernameField">Username</label>
                            <input type="text" class="form-control form-control-sm" id="usernameField" name="username" value="{{fieldValues.username}}">
                        </div>
                        <div class="Username-invalid-feedback invalid-feedback" style="display:none">
                            <!--display none so it is empty/non-existent by default, n it will stay like that until it needs to throw an error for username-->
                        </div>
                        <p class="text-sm text-success username-success-output"></p>
                        <div class="form-group">
                            <label for="emailField">Email</label>
                            <input type="email" class="form-control form-control-sm" id="emailField" name="email" value="{{fieldValues.email}}">
                        </div>
                        <div class="Emailinvalid-feedback invalid-feedback" style="display:none">
                            <!--display none so it is empty/non-existent by default, n it will stay like that until it needs to throw an error for email-->
                        </div>
                        <p class="text-sm text-success email-success-output"></p>
                        <div class="form-group">
                            <label for="passwordField">Password</label>
                            <input type="password" class="form-control form-control-sm" id="passwordField" name="password" >
                        </div>
                        <div class="form-group d-flex justify-content-center py-3">
                            <input type="submit" class="btn btn-block btn-primary submit-btn" value="Register">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div> <!-- End container here -->

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}